<html>
  <head>
    <style>
      html {
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0 0.475in;
        height: 100%;
        -webkit-print-color-adjust: exact;
      }
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: flex-start;
        color: #333;
      }
      .label {
        font-weight: 700;
        margin-right: 0.35em;
      }
    </style>
  </head>
  <body>
    <span class="label">Date Printed:</span><span>{{printedAt}}</span>
  </body>
</html>
