<html>
  <head>
    <style>
      html {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0 0.475in;
        height: 100%;
        -webkit-print-color-adjust: exact;
      }
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: flex-start;
      }
      span + span {
        margin-left: 0.25em;
      }
    </style>
  </head>
  <body>
    <span>S-13-E</span><span>1/22</span>
  </body>
</html>
